@media screen and (max-width: 576px) {
  .nav,
  .banner,
  .banner-search,
  .tours,
  .newsletter {
    flex-direction: column;
  }
  .nav .nav-menu {
    flex-direction: column;
  }
  .nav-menu a {
    display: none;
  }
  .banner h1 {
    font-size: 1.3rem;
  }
  #banner-description {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .head-text {
    font-size: 1.25rem;
  }
  .banner,
  .tour-img,
  .banner-search {
    width: 90%;
    padding: 0px 10px;
  }
  /* destination grid */
  .destination-grid p {
    margin: 20px 0;
    width: 90%;
  }
  .destination-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 305px;
    max-height: 175px;
  }
  .para-text {
    margin-left: 0;
    margin-right: 0;
  }
  /* news letter */
  .newsletter .newsletter-form {
    width: 80%;
  }
  .newsletter .newsletter-form input {
    padding: 10px 20px;
    margin: 20px 0;
  }
  .newsletter .newsletter-img {
    width: 80%;
  }
  .newsletter .newsletter-img img {
    max-width: 325px;
    width: 100%;
  }
  .newsletter .newsletter-img-div {
    left: 100px;
    bottom: 50px;
    max-width: 200px;
    max-height: 70px;
    padding: 8px 0px;
    border-radius: 8px;
    width: 70%;
  }
  .newsletter .newsletter-img-div h1 {
    font-size: 1rem;
  }

  .newsletter .newsletter-img-div h4 {
    font-size: 0.7rem;
  }
}
