@media screen and (max-width: 576px) {
  .nav,
  .banner,
  .banner-search,
  .tours {
    flex-direction: column;
  }
  .nav .nav-menu {
    flex-direction: column;
  }
  .nav-menu a {
    display: none;
  }
  .banner h1 {
    font-size: 1.3rem;
  }
  #banner-description {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .head-text {
    font-size: 1.25rem;
  }
  .banner,
  .tour-img,
  .banner-search {
    width: 90%;
    padding: 0px 10px;
  }
  /* destination grid */
  .destination-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 305px;
    max-height: 175px;
  }
  .para-text {
    margin-left: 0;
    margin-right: 0;
  }
}
