@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

/* common shared style */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}

.para-text {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}

/* header section style */

header {
  max-width: 1170px;
  margin: 20px auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-title {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav .nav-title h1 {
  font-size: 2.25rem;
  color: #131318;
}
.nav .nav-title .special-text {
  color: #ff5400;
}
.nav .nav-menu {
  display: flex;
  gap: 40px;
}

.nav .nav-menu a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.1rem;
  color: #424247;
}

#special-text-anchor {
  color: #ff5400;
  font-weight: 700;
}

/* banner section style */

.banner {
  background-image: linear-gradient(80deg, #0b0a0a83, #0702117c),
    url(../Images/banner-bg.png);
  min-height: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.banner h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1.25rem;
}

#banner-description {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: #fff;
  max-width: 675px;
  text-align: center;
}

/* banner-search (second part) style */

.banner-search {
  background-color: rgba(128, 128, 128, 0.49);
  max-width: 800px;
  padding: 16px;
  display: flex;
  gap: 24px;
  color: blueviolet;
  margin-top: 48px;
  border-radius: 8px;
}

.banner-search-section {
  background-color: #fff;
  color: #13131880;
  padding: 16px;
  border-radius: 6px;
}
.where {
  padding: 16px 64px 16px 16px;
}
.where p {
  font-weight: 400;
  font-size: 1rem;
  color: #13131880;
}
.option {
  padding: 16px 30px;
}

.option select {
  border: none;
  font-weight: 400;
  font-size: 1rem;
  padding: 0 10px;
  color: #13131880;
}
.find {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ff5400;
  color: #fff;
  padding: 16px 30px;
}

.find p {
  font-weight: 400;
  font-size: 1rem;
}
